@use "../../Layout/Header/Header_style.scss";

.Hero{
    &-container{
        margin: 0px 250px 100px 250px;
    }
    &-content{
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & h3{
            padding: 8px 0px;
            font-size: 28px;
            font-weight: 500;
            color: #262626;
            text-align: center;
            margin-bottom: 6px;
        }
        & span{
            display: inline-block;
            padding: 4px 0px;
            font-size: 16px;
            text-align: center;
            color: #262626;
        }

    }
    &-image{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 12px 24px 12px 12px;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #F1F1F3;
        background: #FCFCFD;
        margin-bottom: 16px;
        & .icon{
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            background:#FFF4E5;
            border-radius: 6px;
        }
        & h2{
            text-align: center;
            font-weight: 600;
            font-size: 36px;
            color:#1A1A1A
        }
        & h2:before {
            content: "Unlock ";
            color: #FF9500;
        }
        & > svg{
            position: absolute;
            left: -24px;
            top: -30px;
        }
    }
    &-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        & button{
            cursor: pointer;
            display: inline-flex;
            padding: 14px 20px;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            border-radius: 6px;
            background: #FFF;
            border: 1px solid #F1F1F3;
            transition: 0.1s linear;
        }
        & button:hover{
            background: #F1F1F3;
        }
        & button:first-child{
            background: #FF9500;
            color: #FFF;
        }
        & button:first-child:hover{
            background: #e28317;
        }
    }
}

.brand{
    &-container{
        display: flex;
        align-items: flex-start;
        margin: 0px 80px 80px 80px;
        padding: 24px;
        border-radius: 8px;
        border: 1px solid  #F1F1F3;
        background:  #FCFCFD;
    }
    &-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        flex: 1 0 0;
    }
}

