@use "../../Layout/Header/Header_style.scss";
main{
    margin: 0px 80px;
}
.Hero{
    &-container{
        margin: 0px 170px;
        margin-bottom: 100px;
    }
    &-content{
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & h3{
            padding: 8px 0px;
            font-size: 28px;
            font-weight: 500;
            color: #262626;
            text-align: center;
            margin-bottom: 6px;
        }
        & span{
            display: inline-block;
            padding: 4px 0px;
            font-size: 16px;
            text-align: center;
            color: #262626;
        }

    }
    &-image{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 12px 24px 12px 12px;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #F1F1F3;
        background: #FCFCFD;
        margin-bottom: 16px;
        & .icon{
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            background:#FFF4E5;
            border-radius: 6px;
        }
        & h2{
            text-align: center;
            font-weight: 600;
            font-size: 36px;
            color:#1A1A1A
        }
        & h2:before {
            content: "Unlock ";
            color: #FF9500;
        }
        & > svg{
            position: absolute;
            left: -24px;
            top: -30px;
        }
    }
    &-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        & button{
            cursor: pointer;
            display: inline-flex;
            padding: 14px 20px;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            border-radius: 6px;
            background: #FFF;
            border: 1px solid #F1F1F3;
            transition: 0.1s linear;
        }
        & button:hover{
            background: #F1F1F3;
        }
        & button:first-child{
            background: #FF9500;
            color: #FFF;
        }
        & button:first-child:hover{
            background: #e28317;
        }
    }
}

.brand{
    &-container{
        display: flex;
        align-items: flex-start;
        margin-bottom: 80px;
        padding: 24px;
        border-radius: 8px;
        border: 1px solid  #F1F1F3;
        background:  #FCFCFD;
    }
    &-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        flex: 1 0 0;
    }
}
.main-img{
    &-container{
        margin: 0px -14px;
        border-radius: 12px;
        margin-bottom: 86px;
        // border: 16px solid  #F7F7F8;
        & img{
            object-fit: cover;
        }
    }
}
.benefits{
    &-container{
        margin-bottom: 100px;
    }
    &-top{
        display: flex;
        align-items: flex-end;
        gap: 250px;
        align-self: stretch;
        margin-bottom: 60px;
        &-content > h2 {
            padding: 9.5px 0px;
            font-size: 38px;
            font-weight: 600;
            color:  #262626;
        }
        &-content > p{
            padding: 4px 0px;
            color:  #59595A;
            font-size: 16px;
        }
        &-view{
            display: flex;
            padding: 14px 20px;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            border: 1px solid #F1F1F3;
            background:  #FCFCFD;
            & > button{
                font-size: 14px;
                white-space: nowrap;
                font-weight: 500px;
            }
        }
    }
    &-bottom{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        &-item{
            padding: 40px;
            border-radius: 10px;
            background-color: white;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            & > h2{
                display: flex;
                height: 47px;
                align-items: center;
                justify-content: flex-end;
                text-align: center;
                font-size: 60px;
                font-weight: 700;
                line-height: 40%;
            }
            &-content > h3{
                padding: 10px 0px;
                font-weight: 600;
                font-size: 20px;
                letter-spacing: -0.12px;
                color:  #333;
                margin-bottom: 10px;
            }
            &-content > p{
                padding: 4px 0px;
                font-size: 16px;
                color:  #4C4C4D;
            }
            &-button{
                display: flex;
                justify-content:  flex-end;
                align-items: center;
                & > button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 6px;
                    padding: 14px;
                    border: 1px solid #F1F1F3;
                    background:  #FCFCFD;
                }
            }
        }
    }
}


