footer.footer 
    .container 
        .subcontainerA 
            img(src="../../../Layout/resources/shape-17.svg", alt="" class="icon")
            .contacts 
                .contact 
                    img(src="./resources/mail.svg", alt="")
                    h5 hello@skillbridge.com
                .contact 
                    img(src="./resources/phone.svg", alt="")
                    h5 +91 91813 23 2309
                .contact 
                    img(src="./resources/map.svg", alt="")
                    h5 Some where in the world
        .subcontainerE
            .subcontainerB
                h5 Home
                a(href="") Benefits 
                a(href="") Our Courses
                a(href="") Our Testimonials
                a(href="") Our FAQ
            .subcontainerC
                h5 About us
                a(href="") Company 
                a(href="") Achievements
                a(href="") Our Goals
            .subcontainerD 
                h5 Social Profiles
                .imgs 
                    img(src="./resources/Icon.svg", alt="" )
                    img(src="./resources/Icon (1).svg", alt="" )
                    img(src="./resources/Icon (2).svg", alt="" )
    h6.copyright © 2023 Skillbridge. All rights reserved.