doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./Footer.css")
    body 
        footer.footer 
            .container 
                .subcontainerA 
                    img(src="./resources/shape-17.svg", alt="" class="icon")
                    .contacts 
                        .contact 
                            img(src="./resources/mail.svg", alt="")
                            h5 hello@skillbridge.com
                        .contact 
                            img(src="./resources/phone.svg", alt="")
                            h5 +91 91813 23 2309
                        .contact 
                            img(src="./resources/map.svg", alt="")
                            h5 Some where in the world
                .subcontainerE
                    .subcontainerB
                        h5 Home
                        a(href="") Benefits 
                        a(href="") Our Courses
                        a(href="") Our Testimonials
                        a(href="") Our FAQ
                    .subcontainerC
                        h5 About us
                        a(href="") Company 
                        a(href="") Achievements
                        a(href="") Our Goals
                    .subcontainerD 
                        h5 Social Profiles
                        .imgs 
                            img(src="./resources/Icon.svg", alt="" )
                            img(src="./resources/Icon (1).svg", alt="" )
                            img(src="./resources/Icon (2).svg", alt="" )
            
            h6.copyright © 2023 Skillbridge. All rights reserved.