* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: black;
}

.footer {
    margin-top: 100px;
    background-color: #FFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 80px 20px 80px;
    gap: 30px; 
    line-height: 1;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1278px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.icon {
    background-color: orange;
    border-radius: 5px;
}

.copyright {
    text-align: center;
    font-weight: 400;
}

.contact {
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.subcontainerB,
.subcontainerC {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

.subcontainerE {
    margin-left: auto;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    flex-grow: 1;
    flex-shrink: 1; /* Removed duplicate flex-shrink: 1; */
}

.subcontainerA {
    margin-left: 10px;
    margin-right: auto;
}

.imgs {
    display: flex;
    gap: 5px;
}

strong {
    font-weight: bold;
}

.h {
    height: 1px;
    background-color: black;
    width: 100%;
}
