* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: black;
}

.footer {
    width: 100%;
    margin-top: 100px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 60px 80px 20px 80px;
    gap: 50px;
    line-height: 1;
}



.icon {
    background-color: orange;
    border-radius: 5px;
}

.copyright {
    text-align: center;
    font-weight: 400;
}

.contact {
    display: flex;
    gap: 5px;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}




.imgs {
    display: flex;
    gap: 5px;
}

strong {
    font-weight: bold;
}

.h {
    height: 1px;
    background: #F1F1F3;
    width: 100%;
}


.container {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;

}

.subcontainerE {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    width: 737px;
}

.subcontainerA {
    max-width: 304px;
    width: 100%;
    
}

.subcontainerB,
.subcontainerC,
.subcontainerD{

}
.subcontainerB,
.subcontainerC {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}