doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pricing
        link(rel='stylesheet', href='../../../Layout/Footer/_footer.css')
        link(rel='stylesheet', href='../../../Layout/Header/style.css')
        link(rel='stylesheet', href='./pricing.css')
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Inter:wght@300;400;500;600;800&display=swap', rel='stylesheet')
    body 
        include ../../../Layout/Header/Header.pug

        main.mainbody 


        include ../../../Layout/Footer/Footer.pug