mixin card 
    .card 
        .card-top Free Plan
        .card-neck 
            .card-neck-num $0
            .card-neck-timeline /month
        .card-bot 
            ul Available Features
                li 
                    .icon-container
                        svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(width='24' height='24' rx='4' fill='#FFF4E6')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M17.3621 7.32279C17.6256 7.52361 17.6765 7.90009 17.4757 8.16367L11.0757 16.5637C10.9708 16.7014 10.8115 16.7871 10.6387 16.7987C10.466 16.8103 10.2966 16.7467 10.1742 16.6243L6.57417 13.0243C6.33986 12.79 6.33986 12.4101 6.57417 12.1758C6.80849 11.9415 7.18839 11.9415 7.4227 12.1758L10.5372 15.2903L16.5212 7.43642C16.722 7.17284 17.0985 7.12196 17.3621 7.32279Z' fill='#262626')

                    h6 Access to selected free courses.
                li 
                    .icon-container
                        svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(width='24' height='24' rx='4' fill='#FFF4E6')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M17.3621 7.32279C17.6256 7.52361 17.6765 7.90009 17.4757 8.16367L11.0757 16.5637C10.9708 16.7014 10.8115 16.7871 10.6387 16.7987C10.466 16.8103 10.2966 16.7467 10.1742 16.6243L6.57417 13.0243C6.33986 12.79 6.33986 12.4101 6.57417 12.1758C6.80849 11.9415 7.18839 11.9415 7.4227 12.1758L10.5372 15.2903L16.5212 7.43642C16.722 7.17284 17.0985 7.12196 17.3621 7.32279Z' fill='#262626')

                    h6 Limited course materials and resources.
                li 
                    .icon-container
                        svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(width='24' height='24' rx='4' fill='#FFF4E6')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M17.3621 7.32279C17.6256 7.52361 17.6765 7.90009 17.4757 8.16367L11.0757 16.5637C10.9708 16.7014 10.8115 16.7871 10.6387 16.7987C10.466 16.8103 10.2966 16.7467 10.1742 16.6243L6.57417 13.0243C6.33986 12.79 6.33986 12.4101 6.57417 12.1758C6.80849 11.9415 7.18839 11.9415 7.4227 12.1758L10.5372 15.2903L16.5212 7.43642C16.722 7.17284 17.0985 7.12196 17.3621 7.32279Z' fill='#262626')

                    h6 Basic community support.
                li 
                    .icon-container
                        svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(width='24' height='24' rx='4' fill='#FFF4E6')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M17.3621 7.32279C17.6256 7.52361 17.6765 7.90009 17.4757 8.16367L11.0757 16.5637C10.9708 16.7014 10.8115 16.7871 10.6387 16.7987C10.466 16.8103 10.2966 16.7467 10.1742 16.6243L6.57417 13.0243C6.33986 12.79 6.33986 12.4101 6.57417 12.1758C6.80849 11.9415 7.18839 11.9415 7.4227 12.1758L10.5372 15.2903L16.5212 7.43642C16.722 7.17284 17.0985 7.12196 17.3621 7.32279Z' fill='#262626')

                    h6 No certification upon completion.
                li 
                    .icon-container
                        svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(width='24' height='24' rx='4' fill='#FFF4E6')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M17.3621 7.32279C17.6256 7.52361 17.6765 7.90009 17.4757 8.16367L11.0757 16.5637C10.9708 16.7014 10.8115 16.7871 10.6387 16.7987C10.466 16.8103 10.2966 16.7467 10.1742 16.6243L6.57417 13.0243C6.33986 12.79 6.33986 12.4101 6.57417 12.1758C6.80849 11.9415 7.18839 11.9415 7.4227 12.1758L10.5372 15.2903L16.5212 7.43642C16.722 7.17284 17.0985 7.12196 17.3621 7.32279Z' fill='#262626')

                    h6 Ad-supported platform.
                li 
                    .icon-container
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M5.02426 4.17574C4.78995 3.94142 4.41005 3.94142 4.17574 4.17574C3.94142 4.41005 3.94142 4.78995 4.17574 5.02426L7.15147 8L4.17574 10.9757C3.94142 11.2101 3.94142 11.59 4.17574 11.8243C4.41005 12.0586 4.78995 12.0586 5.02426 11.8243L8 8.84853L10.9757 11.8243C11.2101 12.0586 11.59 12.0586 11.8243 11.8243C12.0586 11.59 12.0586 11.2101 11.8243 10.9757L8.84853 8L11.8243 5.02426C12.0586 4.78995 12.0586 4.41005 11.8243 4.17574C11.59 3.94142 11.2101 3.94142 10.9757 4.17574L8 7.15147L5.02426 4.17574Z" fill="#262626"/>
                        </svg>
                    h6 Access to exclusive Pro Plan community forums.
                li 
                    .icon-container
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M5.02426 4.17574C4.78995 3.94142 4.41005 3.94142 4.17574 4.17574C3.94142 4.41005 3.94142 4.78995 4.17574 5.02426L7.15147 8L4.17574 10.9757C3.94142 11.2101 3.94142 11.59 4.17574 11.8243C4.41005 12.0586 4.78995 12.0586 5.02426 11.8243L8 8.84853L10.9757 11.8243C11.2101 12.0586 11.59 12.0586 11.8243 11.8243C12.0586 11.59 12.0586 11.2101 11.8243 10.9757L8.84853 8L11.8243 5.02426C12.0586 4.78995 12.0586 4.41005 11.8243 4.17574C11.59 3.94142 11.2101 3.94142 10.9757 4.17574L8 7.15147L5.02426 4.17574Z" fill="#262626"/>
                        </svg>

                    h6 Early access to new courses and updates.
        button.card-getstart Get started


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pricing
        link(rel='stylesheet', href='../../../Layout/Footer/_footer.css')
        link(rel='stylesheet', href='../../../Layout/Header/style.css')
        link(rel='stylesheet', href='./pricing.css')
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Inter:wght@300;400;500;600;800&display=swap', rel='stylesheet')
    body 
        include ../../../Layout/Header/Header.pug   

        main.mainbody 
            .mainbody-header
                .mainbody-header-heading 
                    .mainbody-header-heading-context Our Pricings
                .mainbody-header-detail Welcome to SkillBridge's Pricing Plan page, where we offer two comprehensive options to cater to your needs: Free and Pro. We believe in providing flexible and affordable pricing options for our services. Whether you're an individual looking to enhance your skills or a business seeking professional development solutions, we have a plan that suits you. Explore our pricing options below and choose the one that best fits your requirements.
            .mainbody-frame 
                .mainbody-frame-top
                    .mainbody-frame-top-tab 
                        input(type="radio",name='view',id="Month",checked)
                        label.Month(for="Month") Monthly
                        input(type="radio",name='view',id="Year")
                        label.Year(for="Year") Yearly
                .mainbody-frame-container
                    .mainbody-frame-container-card
                        +card 
                    .mainbody-frame-container-card
                        +card
            .mainbody-faq
                .secA 
                    .secA-head
                        .secA-head-top Frequently Asked Questions
                        .secA-head-inform Still you have any questions? Contact our Team via support@skillbridge.com
                    button.secA-button See All FAQ’s
                .secB

        include ../../../Layout/Footer/Footer.pug