*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Absolute-White: #FFF;
    --White-97: #F7F7F8;
}

body{
    background-color: var(--White-97);
    font-family: "Be Vietnam Pro";
    font-style: normal;
    line-height: 150%;
}
.containerA{
    margin: 0 auto;
    display: flex;
    gap: 80px;
    background-color: var(--White-97);
    margin-bottom: 80px;
    padding: 0 60px 40px 60px ;
    margin-left: 20px;
}
.header{
    display: flex;

    align-items: center;
    flex: 1 0 0;
}
h1{
    color: var(--Grey-15, #262626);
    font-size: 38px;
    font-weight: 600;
    line-height: 150%; /* 57px */
    

}
p{
    color: var(--Grey-35, #59595A);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    flex: 1 0 0;
}

.containerB{
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    width: 1280px;
    height: 649px;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.cenImg{
    width: 100%;
    height: auto;
    
}
.containerC{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin: 80px 80px 0 80px;
}
.cd{
    border-radius: 10px;
    background: var(--Absolute-White, #FFF);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.iconing{
    position: absolute;
    border-radius: 68px;
    border: 4px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.20);
    padding: 10px;
}
.ordinal-num{
    color: var(--Grey-15, #262626);
    text-align: end;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 40% */
}
.hd{
    color: var(--Grey-20, #333);

    font-size: 20px;

    font-weight: 600;
    line-height: 150%; /* 30px */
    letter-spacing: -0.12px;
}

.card-detail {
    border: 1px solid var(--White-95, #F1F1F3);
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.card-dt-top{
    display: flex;
    flex-direction: column;

}
.time-line{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: flex-start;
    gap: 4px;
    background: var(--White-97, #F7F7F8);
    border-radius: 6px;
}
.detail-hd{
    color: var(--Grey-20, #333);
    font-size: 16px;
    font-weight: 500;
}
.lesson{
    color: var(--Grey-35, #59595A);
    font-size: 14px;
    font-weight: 400;
}
.time{
    color: var(--Grey-35, #59595A);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
.special1{
    border: 1px solid var(--Orange-80, #FFD599);
    background: var(--Absolute-White, #FFF);
    box-shadow: 0px 0px 0px 4px #FFF4E5;
}
.special2{
    background: var(--Orange-90, #FFEACC);
}