*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  background-color: #F7F7F8;
}

.Header {
  margin-bottom: 80px;
}
.Header-container {
  margin: 20px 20px 0 20px;
}
.Header-banner {
  display: flex;
  width: 100%;
  background-color: #FF9500;
  border-radius: 6px;
  justify-content: center;
  align-items: stretch;
  gap: 23px;
  padding: 10px 0px;
}
.Header-banner > .title {
  display: block;
  color: white;
}
.Header-banner > * {
  cursor: pointer;
}
.Header-content {
  padding: 16px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F1F1F3;
}
.Header-navigator {
  border-radius: 8px;
  display: flex;
  gap: 15px;
  align-items: center;
  align-self: stretch;
}
.Header-img {
  background-color: #FF9500;
  display: flex;
  max-width: 40px;
  height: 40px;
  padding: 5.7px;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
}
.Header-button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.Header-button, .Header-login > a {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  color: #262626;
  border-radius: 8px;
}
.Header-button:hover, .Header-login > a:hover {
  transition: 0.1s linear;
  background-color: #F1F1F3;
}
.Header-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Header-login > a:last-child {
  background-color: #FF9500;
  color: white;
}
.Header-login > a:last-child:hover {
  background-color: #e28317;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  background-color: #F7F7F8;
}

.footer {
  width: 100%;
  margin-top: 100px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 60px 80px 20px 80px;
  gap: 50px;
  line-height: 1;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-container-left {
  max-width: 304px;
  width: 100%;
}
.footer-container-left-contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.footer-container-left-contacts-items {
  display: flex;
  gap: 5px;
  align-items: center;
}
.footer-container-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  width: 737px;
}
.footer-container-right-containerPic-buttn {
  margin-top: 14px;
  display: flex;
  gap: 12px;
}
.footer-line {
  height: 1px;
  background: #F1F1F3;
  width: 100%;
}
.footer-copyright {
  text-align: center;
  font-weight: 400;
  color: var(--Grey-40, #656567);
  font-style: normal;
}

.icon {
  background-color: orange;
  border-radius: 5px;
  width: fit-content;
}

a {
  text-decoration: none;
  color: black;
}

.footer-container-right-container {
  display: flex;
  flex-direction: column;
}
.footer-container-right-container-body {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 8px;
  color: var(--Grey-35, #59595A);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.details {
  color: var(--Grey-15, #262626);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.information {
  color: var(--Grey-15, #262626);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.buttn {
  border-radius: 6px;
  border: 1px solid var(--White-95, #F1F1F3);
  background: var(--White-97, #F7F7F8);
  padding: 12px;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Header-button-list > .Header-button:nth-child(3) {
  background: #ff9500;
  color: white;
}

button:hover {
  filter: brightness(0.8);
}

main {
  margin: 0px 80px;
}

.About {
  margin: 0px -60px;
  padding: 0px 60px 40px 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--White-90, #E4E4E7);
  gap: 80px;
  margin-bottom: 80px;
}
.About .title {
  width: 100%;
  font-size: 38px;
  font-weight: 600;
  color: var(--Grey-15, #262626);
}
.About p {
  width: 100%;
  font-size: 16px;
  color: var(--Grey-35, #59595A);
  line-height: 150%;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex: 1;
  margin-bottom: 100px;
}
.Content .title {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.Content .title h3 {
  color: var(--Grey-20, #333);
  width: 100%;
  line-height: 150%;
  font-size: 30px;
  font-weight: 500;
}
.Content .title span {
  color: var(--Grey-35, #59595A);
  font-size: 16px;
  line-height: 150%;
}
.Content .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.Content .container__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
}
.Content .container__item img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 6px;
  border: 1px solid var(--Orange-90, #FFEACC);
  background: var(--Orange-97, #FFF9F0);
  margin-bottom: 24px;
}
.Content .container__item h4 {
  color: var(--Grey-15, #262626);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 10px;
}
.Content .container__item p {
  color: var(--Grey-35, #59595A);
  font-size: 16px;
  line-height: 150%;
}

.Content:last-child > .title > span::after {
  content: "Through our carefully crafted courses, we aim to";
  display: block;
}

.banner {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 60px;
  height: 250px;
  margin-top: -40px;
  margin-bottom: 100px;
  gap: 300px;
  border-radius: 10px;
  background: var(--Absolute-White, #FFF);
}
.banner .title {
  display: flex;
  position: relative;
}
.banner .title h2 {
  position: relative;
  top: 60px;
  color: var(--Grey-15, #262626);
  font-size: 38px;
  font-weight: 600;
  line-height: 120%;
}
.banner .title h2::before {
  content: "Together";
  color: var(--Orange-50, #FF9500);
}
.banner .title h2::after {
  content: "Join us on this exciting learning journey and unlock your potential in design and development.";
  display: block;
  color: var(--Grey-30, #4C4C4D);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 14px;
  white-space: nowrap;
}
.banner .btn {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: var(--Orange-50, #FF9500);
  color: var(--Absolute-White, #FFF);
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  white-space: nowrap; /* 21px */
}

/*# sourceMappingURL=AboutUs.css.map */
